@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* index.css */

:root {
  --foreground-rgb: 29, 74, 229;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ff-league_spartan: "League Spartan", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --ff-league_spartan: "League Spartan", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  font-family: var(--ff-poppins);
}

/* Include additional classes */
.dark-hero-gradient {
  background: linear-gradient(90deg, #697ceb 0%, #6a61eb 100%);
}

.light-hero-gradient {
  background: linear-gradient(90deg, #939dec 0%, #8d90e5 100%);
}

.mask-gradient {
  mask-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 90%);
}
